@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-family: "Red Hat Text", sans-serif;
  font-size: 62.5%;
  font-weight: 700;
  color: white;
}

body {
  background: center/cover url("../images/bg-stars.svg"), linear-gradient(#1e1f29 0%, #292a38);
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  margin: 0;
  height: 100vh;
}

.main-content {
  flex: 1 0 auto;
  padding: 0 25px;
  text-align: center;
}

.heading {
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  font-size: 2rem;
  margin-top: 14rem;
}

.timer {
  display: flex;
  justify-content: center;
  margin: 5rem auto;
  width: 100%;
  max-width: 700px;
}

.widget {
  width: 7rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  margin: 0 0.7rem;
}
@media screen and (min-width: 768px) {
  .widget {
    width: 14.8rem;
    margin: 0 1.6rem;
  }
}

.widget__wrapper {
  font-size: 4rem;
  line-height: 1.65;
  height: 6.6rem;
  width: 100%;
  position: relative;
  color: #fb6087;
}
@media screen and (min-width: 768px) {
  .widget__wrapper {
    font-size: 9rem;
    line-height: 1.58;
    height: 14rem;
  }
}
.widget__wrapper [class^=top], .widget__wrapper [class^=bottom] {
  background-color: #343650;
  border-radius: 5px 5px 0 0;
  filter: brightness(0.8);
  height: 3.3rem;
  left: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .widget__wrapper [class^=top], .widget__wrapper [class^=bottom] {
    height: 7rem;
  }
}
.widget__wrapper [class^=bottom] {
  background-color: #343650;
  filter: unset;
  border-radius: 0.5rem;
  height: 100%;
  box-shadow: 0 5px #1e1f29;
}
@media screen and (min-width: 768px) {
  .widget__wrapper [class^=bottom] {
    box-shadow: 0 10px #1e1f29;
  }
}
.widget__wrapper [class*=third] {
  z-index: 1;
}
.widget__wrapper [class*=second] {
  z-index: 2;
}
.widget__wrapper [class*=first] {
  z-index: 3;
}
.widget__wrapper::before, .widget__wrapper::after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #1e1f29;
  position: absolute;
  z-index: 4;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .widget__wrapper::before, .widget__wrapper::after {
    width: 12px;
    height: 12px;
  }
}
.widget__wrapper::after {
  left: auto;
  right: 0;
  transform: translate(50%, -50%);
}

.label {
  color: #8486a9;
  display: block;
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
  text-align: center;
  text-transform: uppercase;
  margin: 1.5rem auto;
}
@media screen and (min-width: 768px) {
  .label {
    font-size: 1.4rem;
    letter-spacing: 0.5rem;
  }
}

.page-footer {
  background: 82% bottom/auto 100% repeat-x url("../images/pattern-hills.svg");
  min-height: 170px;
  display: flex;
  flex-direction: column;
}
.page-footer .icons-container {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
}
.page-footer .icons-container .icon-wrapper {
  color: #8486a9;
  margin: 0 1.5rem 4rem;
  align-self: flex-end;
  transition: color 0.3s;
}
.page-footer .icons-container .icon-wrapper:hover {
  color: #fb6087;
}

.attribution {
  font-size: 11px;
  font-weight: normal;
  text-align: center;
}

.attribution a {
  color: #f8bf3a;
}

/*# sourceMappingURL=style.css.map */
