// ===== Primary Colors =====
$labels-color: hsl(237, 18%, 59%);
$soft-red: hsl(345, 95%, 68%);

// ===== Neutral Colors =====
$widget-background: hsl(236, 21%, 26%);
$page-background-color: hsl(235, 16%, 14%);
$shadow: hsl(234, 17%, 12%);
// $background-bottom: hsl(266, 32, 17);
