@use "sass:list";
@use "sass:color";
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap");
@import "variables";
@import "mixins";

@keyframes flipTop {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(-90deg);
  }
}

@keyframes flipBottom {
  0% {
    transform: rotateX(90deg);
  }
  50% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

* {
  box-sizing: border-box;
}

html {
  color: white;
  font: {
    family: "Red Hat Text", sans-serif;
    size: 62.5%;
    weight: 700;
  }
}

body {
  background: center / cover url("../images/bg-stars.svg"),
    linear-gradient(
      $page-background-color 0%,
      color.adjust($page-background-color, $red: 10) 100%
    );
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  height: 100vh;
  margin: 0;
}

.main-content {
  flex: 1 0 auto;
  padding: 0 15px;
  text-align: center;
}

.heading {
  font-size: 2rem;
  letter-spacing: 0.6rem;
  margin-top: 14rem;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 2.4rem;
  }
}

.timer {
  display: flex;
  justify-content: center;
  margin: 5rem auto;
  max-width: 700px;
  width: 100%;
  @media screen and (min-width: 768px) {
    margin: 10rem auto;
  }
}

.widget {
  margin: 0 0.8rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 7rem;
  @media screen and (min-width: 768px) {
    margin: 0 1.6rem;
    width: 14.8rem;
  }
}

.widget__wrapper {
  border-radius: 0.5rem;
  box-shadow: 0 5px 2px $shadow;
  color: $soft-red;
  font-size: 4rem;
  height: 6.6rem;
  line-height: 1.65;
  overflow: hidden;
  position: relative;
  width: 100%;
  @media screen and (min-width: 768px) {
    box-shadow: 0 10px 2px $shadow;
    font-size: 9rem;
    height: 14rem;
    line-height: 1.58;
  }
  .top-back,
  .top-front {
    background-color: $widget-background;
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
    display: inline-block;
    filter: brightness(0.8);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .top-front {
    transform-origin: 0 50%;
  }

  .bottom-back {
    background-color: $widget-background;
    clip-path: polygon(0% 100%, 100% 100%, 100% 50%, 0% 50%);
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .bottom-front {
    @extend .bottom-back;
    box-shadow: unset;
    transform-origin: 0 50%;
    transform: rotateX(90deg) perspective(200px);
  }
  &::before,
  &::after {
    background-color: color.adjust($page-background-color, $red: 5);
    border-radius: 50%;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    z-index: 5;
    @media screen and (min-width: 768px) {
      height: 12px;
      width: 12px;
    }
  }
  &::after {
    left: auto;
    right: 0;
    transform: translate(50%, -50%);
  }
}

@include stack-widget-layers;

.flip .flip-top {
  animation: flipTop 1s 0s linear infinite;
}

.flip .flip-bottom {
  animation: flipBottom 1s 0.5s linear infinite;
}

.label {
  color: $labels-color;
  display: block;
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
  margin: 1.5rem auto;
  text: {
    align: center;
    transform: uppercase;
  }
  @media screen and (min-width: 768px) {
    font-size: 1.4rem;
    letter-spacing: 0.5rem;
    margin: 3rem auto;
  }
}

.page-footer {
  background: 82% bottom / auto 100% repeat-x url("../images/pattern-hills.svg");
  display: flex;
  flex-direction: column;
  min-height: 200px;
  .icons-container {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    column-gap: 3.2rem;
    .icon-wrapper {
      align-self: flex-end;
      text-align: center;
      color: $labels-color;
      font-size: 2.4rem;
      margin-bottom: 3.2rem;
      transition: color 0.3s;
      @media screen and (min-width: 768px) {
        margin-bottom: 5rem;
      }
      &:hover {
        color: $soft-red;
      }
    }
  }
}

.attribution {
  font: {
    size: 11px;
    weight: normal;
  }
  text-align: center;
}

.attribution a {
  color: hsl(42, 93%, 60%);
}
