@use "sass:list";
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap");
@import "variables";
@import "mixins";

* {
  box-sizing: border-box;
}

html {
  font: {
    family: "Red Hat Text", sans-serif;
    size: 62.5%;
    weight: 700;
  }
  color: white;
}

body {
  background: center / cover url("../images/bg-stars.svg"),
    $page-background-color;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  margin: 0;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 0 25px;
  text-align: center;
}

.heading {
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  font-size: 2rem;
}

.timer {
  display: flex;
  justify-content: space-around;
  margin: 6rem auto;
  width: 100%;
  max-width: 700px;
}

.widget {
  width: 7rem;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.widget__wrapper {
  font-size: 4rem;
  line-height: 1.65;
  height: 6.6rem;
  max-width: 148px;
  width: 100%;
  position: relative;
  color: $soft-red;
  & [class^="top"] {
    background-color: $widget-background;
    border-radius: 5px 5px 0 0;
    filter: brightness(0.8);
    height: 3.3rem;
    left: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }
  & [class^="bottom"] {
    @extend [class^="top"];
    background-color: $widget-background;
    filter: unset;
    border-radius: 0.5rem;
    height: 100%;
  }
  @include stack-widget-upper-parts;
  &::before,
  &::after {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $page-background-color;
    position: absolute;
    z-index: 4;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &::after {
    left: auto;
    right: 0;
    transform: translate(50%, -50%);
  }
}

.label {
  color: $labels-color;
  display: block;
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
  text-align: center;
  text-transform: uppercase;
  margin: 1.5rem auto;
}

.page-footer {
  background: 82% bottom / auto 100% repeat-x url("../images/pattern-hills.svg");
  min-height: 200px;
  display: flex;
  flex-direction: column;
  .icons-container {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    .icon-wrapper {
      color: $labels-color;
      margin: 0 1.5rem 4rem;
      align-self: flex-end;
      transition: color 0.3s;
      &:hover {
        color: $soft-red;
      }
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(42, 93%, 60%);
}
